.container{
    background-color: rgb(164, 24, 24);
    padding: 20px;
    text-align: center;
    

}
.dark{
    background: #222;
    color: white;
}
.description{
    font-style: italic;
    text-decoration: underline;
    margin margin: top 20px;
}
.yusuf{
    color: green;
    font-style: oblique;
}
